*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .Sectionthree{
   
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 300px;
    }
    .text{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
flex-direction: column;

gap: 10px;

    }
    .text h3{
        font-size: 13px;
        font-weight: 700;
        color: rgb(173, 181, 189);
    }
    .text h1{
        font-size: 40px;
        font-weight: 900;
        color:black;
    }
    .text p{
        font-size: 16px;
        font-weight: 400;
        color:  rgb(128, 128, 128);
line-height: 27px;
text-align: center;
    }
    
